bin/
obj/
dep/
generated/
!docs/generated/
junk/
out_scm/
tmp_scm/
cekf
pratt_test
tags
xref
.generated
.*.swp
.$*.drawio.*
callgrind.out.*
core*
gmon.out
.idea
tests/test_*
src/*~
.typedefs
unicode
*.fnc
