name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc, clang]

    steps:
    - uses: actions/checkout@v3

    - name: Install sqlite
      run: make install-sqlite3

    - name: Install clang
      if: matrix.compiler == 'clang'
      run: sudo apt-get update && sudo apt-get --yes install clang

    - name: Build executable (${{ matrix.compiler }})
      run: make CCC=${{ matrix.compiler }} MODE=testing

    - name: Run tests (${{ matrix.compiler }})
      run: make test CCC=${{ matrix.compiler }} MODE=testing
